[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Aiyane (Aiyane)
	owner = group user/EdGate (EdGate)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/EdGate (EdGate)
	label-Verified = -1..+1 group user/EdGate (EdGate)
	push = group user/EdGate (EdGate)
	read = group user/EdGate (EdGate)
	rebase = group user/EdGate (EdGate)
	removeReviewer = group user/EdGate (EdGate)
	submit = group user/EdGate (EdGate)
[access "refs/heads/*"]
	create = group user/EdGate (EdGate)
	push = +force group user/EdGate (EdGate)
	pushMerge = group user/EdGate (EdGate)
	read = group user/EdGate (EdGate)
[access "refs/tags/*"]
	push = group user/EdGate (EdGate)
	push = +force group user/EdGate (EdGate)
