<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.play.dao.RelationMapper" >
  <resultMap id="BaseResultMap" type="com.play.pojo.Relation" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="applicant" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="receiver" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="extra" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modify_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, applicant, receiver, status, extra, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from iwalker_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iwalker_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.play.pojo.Relation" >
    insert into iwalker_relation (id, applicant, receiver, 
      status, extra, create_time, 
      modify_time)
    values (#{id,jdbcType=INTEGER}, #{applicant,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{extra,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.play.pojo.Relation" >
    insert into iwalker_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applicant != null" >
        applicant,
      </if>
      <if test="receiver != null" >
        receiver,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="extra != null" >
        extra,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="extra != null" >
        #{extra,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.play.pojo.Relation" >
    update iwalker_relation
    <set >
      <if test="applicant != null" >
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="extra != null" >
        extra = #{extra,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.play.pojo.Relation" >
    update iwalker_relation
    set applicant = #{applicant,jdbcType=VARCHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      extra = #{extra,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="findStatus1" resultMap="BaseResultMap" parameterType="map">
      select
      <include refid="Base_Column_List" />
      from iwalker_relation
      where applicant = #{showname}
      or receiver = #{showname}
      and status = 1
    </select>
    <select id="showrequest" resultMap="BaseResultMap" parameterType="map">
      select
      <include refid="Base_Column_List" />
      from iwalker_relation
      where receiver = #{receiver}
      and status = 0
    </select>
    <update id="deleteByUsername" parameterType="java.lang.Integer">
      update iwalker_relation
      set status = 4
      where (applicant = #{namedel}
      or receiver = #{namedel})
      and  (applicant = #{delname}
      or receiver = #{delname})
    </update>
    <select id="showfriend" resultMap="BaseResultMap" parameterType="map">
      select
      <include refid="Base_Column_List" />
      from iwalker_relation
      where (applicant = #{myname}
      or receiver = #{myname})
      and status = 1
    </select>
    <select id="getfriendStatus" resultType="int" parameterType="map">
      select status from iwalker_user
      where (applicant = #{applicant}
      or receiver = #{applicant})
      and  (applicant = #{receiver}
      or receiver = #{receiver})
    </select>

</mapper>